.mainbox
    border 2px dashed red
    width 400px
    border-radius 10px
div
    display block
.box0
    background-color black
    width 500px
    border 1px solid black
.box1
    background-color red
    height 300px
.box2
    background-color blue
.box3
    background-color cyan 
p
    text-align center
.fatal a
    text-decoration none
    color black
.box
    background-color pink
    width 200px
    margin 0 auto
  .message
    padding: 10px
    font: 14px Helvetica
    border: 1px solid #eee
  

  .warning
    @extends .message
    border-color: yellow
    background: yellow + 70%

  .error
    @extends .message
    border-color: red
    background: red + 70%

  .fatal
    @extends .error
    font-weight: bold
    color: red
.imgs
     width 150px
     min-height 150px
     background-repeat no-repeat
     border 1px dashed black
     margin 0 auto
