-var img1 = require('./img/1.png')
-var img2 = require('./img/2.png')

include ./modules/profile_tooltip/tooltip

+tooltip('John Smith','Ux Designer',img1)
+tooltip('Sarah Brown','Developer',img2)


button.circled_button hello2
button.circled_button hello
 
button.circled_button hello2
