
@import './modules/profile_tooltip/tooltip';
@import './modules/buttons/circled_button';
@import './modules/progress_bar/progress_bar';
@import './modules/pie_chart/pie_chart';


pieSlice = 8.3, 16.6, 33.3, 2.7, 19.4, 19.4;



pieColors = #1b458b, #0a0, #f80, #08f, #a04, #ffd700;

.firstPie {
    drawPie(pieColors, pieSlice);
    
    }